Repository faustbrian/foreman: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn format

.lintstagedrc:

{
    "*.{yml,md}": ["prettier --write"],
    "*.{ts,js,json}": ["yarn format"]
}

chore: configure `husky`
  .huskyrc
Due: none

refactor: convert arguments to string if they are not a string
  src/index.ts
Due: yarn format

release: 2.0.1
  .pnp.js
  .yarn/build-state.yml
  .yarn/install-state.gz
  package.json
Due: prettier --write, yarn format

style: resolve style guide violations
  .pnp.js
  .yarn/build-state.yml
  .yarn/install-state.gz
  package.json
Due: prettier --write, yarn format

style: resolve style guide violations
  .yarn/build-state.yml
Due: prettier --write

fix(pencil): stop graphite breaking when too much pressure applied
  .releaserc
  jest.config.js
  package.json
  release.config.js
Due: yarn format

Notes added by 'git notes add'
  5275329f9c98df6238061639a8a13447dd8a1d06
Due: none

fix(pencil): stop graphite breaking when too much pressure applied
  release.config.js
Due: yarn format

Notes added by 'git notes add'
  1c878f1fcf5d57a311743fdda9a11c7514d2143b
Due: none

release: 2.0.1
  .releaserc
  .yarn/build-state.yml
  .yarn/install-state.gz
  jest.config.js
  package.json
  release.config.js
Due: prettier --write, yarn format

ci: remove publish workflow (replaced with semantic-release)
  .github/workflows/ci.yml
Due: prettier --write

ci: set up dependency updates
  .github/workflows/deps.yml
Due: prettier --write

chore: update dependencies
  package.json
Due: yarn format

chore: update package-lock.json
  package-lock.json
Due: yarn format

ci: update lockfile after npx
  .github/workflows/deps.yml
Due: prettier --write

chore: update dependencies
  package-lock.json
  package.json
Due: yarn format
